<a href="https://colab.research.google.com/github/GeneralZl1/LinearRegression_singlevariable/blob/main/LinearRegression_SingleVariable_realestate_price_size.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import the data

In [1]:
from google.colab import files
uploaded = files.upload()

Saving real_estate_price_size.csv to real_estate_price_size.csv

In [2]:
import pandas as pd
import io
data = pd.read_csv(io.BytesIO(uploaded['real_estate_price_size.csv']))

Preprocessing

In [3]:
data.head()

        price     size
0  234314.144   643.09
1  228581.528   656.22
2  281626.336   487.29
3  401255.608  1504.75
4  458674.256  1275.46

In [4]:
data.describe()

               price         size
count     100.000000   100.000000
mean   292289.470160   853.024200
std     77051.727525   297.941951
min    154282.128000   479.750000
25%    234280.148000   643.330000
50%    280590.716000   696.405000
75%    335723.696000  1029.322500
max    500681.128000  1842.510000

In [5]:
x=data['size']
y=data['price']
x=x.values.reshape(-1,1)

Build a model

In [6]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import f_regression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [8]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
model.score(x_train,y_train)

0.7270179839739783

In [10]:
pvalue=f_regression(x_train,y_train)[1]
pvalue.round(3)

array([0.])

Prediction

In [11]:
y_pred=model.predict(x_test)

In [12]:
mean_squared_error(y_test, y_pred)

1232498749.487127

In [15]:
Summary=pd.DataFrame({'Actual':y_test,'Predicted':y_pred}).reset_index(drop=True)
Summary

        Actual      Predicted
0   263311.696  256109.367228
1   412569.472  370509.434244
2   251188.824  285253.905374
3   262477.856  256062.164135
4   302393.384  253182.775475
5   500681.128  438254.863457
6   281626.336  208634.294717
7   342988.456  366276.890258
8   304587.272  285013.394377
9   234314.144  243654.494031
10  225145.248  244823.332519
11  265129.064  227425.621178
12  368988.432  435449.651086
13  297760.440  252191.510527
14  211724.096  222685.082003
15  406852.304  398977.394727
16  454512.760  435449.651086
17  233493.208  227281.764134
18  251140.656  255214.756231
19  300061.480  256062.164135
20  218630.608  255214.756231
21  225452.320  252191.510527
22  217468.224  252458.994719
23  274922.856  257635.600561
24  225451.984  252191.510527

In [19]:
Summary['Error']=(Summary['Actual']-Summary['Predicted'])**2
Summary['Error']=Summary['Error'].round(3)
Summary

        Actual      Predicted         Error
0   263311.696  256109.367228  5.187354e+07
1   412569.472  370509.434244  1.769047e+09
2   251188.824  285253.905374  1.160430e+09
3   262477.856  256062.164135  4.116110e+07
4   302393.384  253182.775475  2.421684e+09
5   500681.128  438254.863457  3.897039e+09
6   281626.336  208634.294717  5.327838e+09
7   342988.456  366276.890258  5.423512e+08
8   304587.272  285013.394377  3.831367e+08
9   234314.144  243654.494031  8.724214e+07
10  225145.248  244823.332519  3.872270e+08
11  265129.064  227425.621178  1.421550e+09
12  368988.432  435449.651086  4.417094e+09
13  297760.440  252191.510527  2.076527e+09
14  211724.096  222685.082003  1.201432e+08
15  406852.304  398977.394727  6.201420e+07
16  454512.760  435449.651086  3.634021e+08
17  233493.208  227281.764134  3.858203e+07
18  251140.656  255214.756231  1.659829e+07
19  300061.480  256062.164135  1.935940e+09
20  218630.608  255214.756231  1.338400e+09
21  225452.320  252191.510527  7.149843e+08
22  217468.224  252458.994719  1.224354e+09
23  274922.856  257635.600561  2.988492e+08
24  225451.984  252191.510527  7.150023e+08